@{
    ViewBag.Title = "Create Menu";
}
<h2>Create Menu</h2>
<form action="/SubmitData/CreateMenu2" method="post">
    <fieldset>
        <legend>Menu</legend>
        <div>Id:</div>
        <input name="id" />
        <div>Text:</div>
        <input name="text" />
        <div>Price:</div>
        <input name="price" />
        <div>Category:</div>
        <input name="category" />
        <div></div>
        <button type="submit">Submit</button>
    </fieldset>
</form>
