<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.scripting" type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting"/>
  </configSections>
  <microsoft.scripting>
    <languages>
      <language names="IronPython,Python,py" extensions=".py" displayName="IronPython 2.7.5" type="IronPython.Runtime.PythonContext,IronPython"/>
      <!--<language names="IronPython,Python,py" extensions=".py" displayName="IronPython 2.7.5" type="IronPython.Runtime.PythonContext,IronPython, Version=2.7.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
    </languages>

  </microsoft.scripting>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
