<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Net.Http.Server" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Net.WebSockets" version="1.0.0-rc1-final" targetFramework="net46" />
</packages>